---
layout: default
toc: true
---

{% include head.html %}

<head>
    <!-- Link to the table styling file -->
    <link rel="stylesheet" href="{{ '/assets/css/cnvs-table-style.scss' | relative_url }}">

    <!-- jQuery (must be loaded first) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTable CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

    <!-- DataTable JS -->
    <script defer src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script src="{{ '/assets/js/cnvs-table-filter.js' | relative_url }}"></script>
</head>


<style>
    /* Page Layout */
    .page-content {
        max-width: 1280px;
    }

    /* Main Content */
    .content-wrapper {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1280px;
    }

    h3 {
        margin-top: 20px;
    }

    ul {
        list-style: none;
        padding-left: 20px;
    }

    .initial-content {
        display: flex;
        justify-content: center;
    }
</style>

<div class="page-content">
    <div class="content-wrapper">
        <h1>Copy Number Variants overview table</h1>
        <div class="table-container">
            <div class="table-container">
                <div id="cnvs-table-filter"></div>
                <table id="cnvs-table" class="display">
                    <thead>
                        <tr>
                            <th>CNV</th>
                            <th>Locus</th>
                            <th>Chromosome</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Common Phenotypic Feature</th>
                            <th>WikiPathways ID</th>
                            <th>ORPHAcode</th>
                            <th>OMIM</th>
                            <th>Genes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cnv in site.cnvs %}
                        <tr>
                            <td><a href="{{ cnv.url }}">{{ cnv.cnv }}</a></td>
                            <td>{{ cnv.locus }}</td>
                            <td>{{ cnv.chromosome }}</td>
                            <td>{{ cnv.start }}</td>
                            <td>{{ cnv.end }}</td>
                            <td>{{ cnv.phenotypic_features }}</td>
                            <td>
                                <a href="https://www.wikipathways.org/pathways/{{ cnv.wikipathways_id }}.html">
                                    {{ cnv.wikipathways_id }}
                                </a>
                            </td>
                            <td>
                                {% assign missing_orphacodes = true %}
                                {% for orphadata in cnv.orphadata %}
                                    {% if orphadata.orphacode %}<a href="https://www.orpha.net/en/disease/detail/{{ orphadata.orphacode }}" >{{
                                        orphadata.orphacode}}</a>{% endif %}
                                        {% assign missing_orphacodes = false %}
                                    {% if orphadata.cause %}({{ orphadata.cause }}) {% endif %}
                                    <br>
                                {% endfor %}

                                {% if missing_orphacodes == true %}
                                    NA
                                {% endif %}
                            </td>
                            <td>
                                {% assign omim_exists = true %}
                                {% for orphadata in cnv.orphadata %}
                                    {% if orphadata.omim and orphadata.omim.size > 0 %}
                                        {% assign omim_exists = false %}
                                        {% for omim_entry in orphadata.omim limit:3 %}
                                            <a href="https://omim.org/entry/{{ omim_entry }}">{{ omim_entry }}</a>
                                            {% unless forloop.last %} {% endunless %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                    
                                {% if omim_exists == true %}
                                    NA
                                {% endif %}
                                
                            
                            </td>

                            <td>
                                <span id="gene-container-{{ forloop.index }}">
                                    {{ cnv.genes | slice: 0, 3 | join: ", " }}
                                </span>
                                {% if cnv.genes.size > 3 %}
                                    <a href="#" class="show-more" data-index="{{ forloop.index }}" data-genes='{{ cnv.genes | jsonify }}'>more</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".show-more, .show-less").forEach(link => {
            link.addEventListener("click", function (event) {
                event.preventDefault();
                const index = this.getAttribute("data-index");
                const allGenes = JSON.parse(this.getAttribute("data-genes"));
                const container = document.getElementById("gene-container-" + index);
                
                if (this.classList.contains("show-more")) {
                    // Show the full gene list
                    container.innerText = allGenes.join(", ");
                    
                    // "Show Less"
                    this.innerText = "less";
                    this.classList.remove("show-more");
                    this.classList.add("show-less");
                } else if (this.classList.contains("show-less")) {
                    // Show only the first 3 genes
                    container.innerText = allGenes.slice(0, 3).join(", ");
                    
                    // "Show More"
                    this.innerText = "more";
                    this.classList.remove("show-less");
                    this.classList.add("show-more");
                }
            });
        });
    });
</script>
