---
layout: default
title: CNVs Overview
permalink: /cnvs-overview/
---

<head>
  <!-- DataTables CSS & JS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/cnvs-overview.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
  <script src="{{ site.baseurl }}/assets/js/cnvs-overview.js" defer></script>
</head>

{% include cnv-statistics.html %}

<div class="page-content">
  <h1>Copy Number Variants Overview</h1>

  <!-- Statistics Cards -->
  <div class="stats-container">
    <div class="stat-card">
      <div class="stat-number">{{ total_cnvs }}</div>
      <div class="stat-label">Genomic Locations</div>
    </div>
    <div class="stat-card">
      <div class="stat-number">{{ unique_disorders | size }}</div>
      <div class="stat-label">Disorders (deletion/duplication)</div>
    </div>
    <div class="stat-card">
      <div class="stat-number">{{ unique_phenotypes | size }}</div>
      <div class="stat-label">Phenotypes</div>
    </div>
    <div class="stat-card">
      <div class="stat-number">{{ unique_genes | size }}</div>
      <div class="stat-label">Genes</div>
    </div>
  </div>

  <table id="cnvs-table" class="display" style="width:100%">
    <thead>
      <tr>
        <th>CNV</th>
        <th>Locus</th>
        <th>Chr</th>
        <th>Start</th>
        <th>End</th>
        <th>WikiPathways</th>
        <th>ORPHAcode</th>
        <th>OMIM</th>
        <th>Genes</th>
      </tr>
    </thead>
    <tbody>
      {% for cnv in site.cnvs %}
        {% assign gene_symbols = cnv.genes | map: "symbol" %}
        <tr>
          <td><a href="{{ site.baseurl }}{{ cnv.url }}" target="_blank">{{ cnv.cnv | default: cnv.locus | default: cnv.title }}</a></td>
          <td>{{ cnv.locus | default: "NA" }}</td>
          <td data-order="{{ cnv.chromosome | remove: 'X' | remove: 'Y' | plus: 0 }}">{{ cnv.chromosome | default: "NA" }}</td>
          <td data-order="{{ cnv.start | plus: 0 }}">{{ cnv.start | default: "NA" }}</td>
          <td data-order="{{ cnv.end | plus: 0 }}">{{ cnv.end | default: "NA" }}</td>
          <td>
            {% if cnv.wikipathways_id %}
              <a href="https://www.wikipathways.org/pathways/{{ cnv.wikipathways_id }}.html" target="_blank">{{ cnv.wikipathways_id }}</a>
            {% else %}
              NA
            {% endif %}
          </td>
          <td>
            {% assign has_orphacode = false %}
            {% if cnv.orphadata %}
              {% for orpha in cnv.orphadata %}
                {% if orpha.orphacode %}
                  {% assign has_orphacode = true %}
                  <a href="https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert={{ orpha.orphacode }}" target="_blank">{{ orpha.orphacode }}</a>{% if orpha.cause %} ({{ orpha.cause }}){% endif %}{% unless forloop.last %}, {% endunless %}
                {% endif %}
              {% endfor %}
            {% endif %}
            {% unless has_orphacode %}
              NA
            {% endunless %}
          </td>
          <td>
            {% assign all_omim_ids = "" | split: "" %}
            {% if cnv.orphadata %}
              {% for orpha in cnv.orphadata %}
                {% if orpha.omim %}
                  {% assign all_omim_ids = all_omim_ids | concat: orpha.omim %}
                {% endif %}
              {% endfor %}
            {% endif %}

            {% assign unique_omim_ids = all_omim_ids | uniq %}
            {% if unique_omim_ids.size > 0 %}
              {% for id in unique_omim_ids %}
                <a href="https://omim.org/entry/{{ id }}" target="_blank">{{ id }}</a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            {% else %}
              NA
            {% endif %}
          </td>        
          <td>
            <span id="gene-container-{{ forloop.index }}">
              {% if gene_symbols %}
                {{ gene_symbols | slice: 0, 3 | join: ", " }}
              {% else %}
                NA
              {% endif %}
            </span>
            {% if gene_symbols.size > 3 %}
              <a href="#" class="show-more" data-index="{{ forloop.index }}" data-genes='{{ gene_symbols | jsonify }}'>more</a>
            {% endif %}
            {% if gene_symbols %}
              <span class="gene-search-hidden" style="display:none;">
                {{ gene_symbols | join: ", " }}
              </span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
