<div class="page__footer-follow">
  <ul class="social-icons">
    <li>
      <a href="https://github.com/alexandra-valeanu/cnv-booklet" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github" aria-hidden="true"></i> GitHub
      </a>
    </li>
  </ul>
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} 
  <a href="{{ site.url }}">{{ site.title }}</a>. <a href="https://www.maastrichtuniversity.nl/research/translational-genomics" traget="_blank">Translational Genomics, Maastricht University, The Netherlands</a>.
</div>

<div class="page__footer-logos"> 
  <a href="https://cordis.europa.eu/project/id/101156595" target="_blank" rel="noopener noreferrer">
    <img src="{{ site.baseurl }}/assets/images/eu_logo.png" alt="eu_logo" />
  </a>
  <a href="https://erdera.org/" target="_blank" rel="noopener noreferrer">
    <img src="{{ site.baseurl }}/assets/images/erdera_logo.png" alt="erdera_logo" />
  </a>
  <a href="https://www.maastrichtuniversity.nl/research/translational-genomics" target="_blank" rel="noopener noreferrer">
    <img src="{{ site.baseurl }}/assets/images/um_logo.png" alt="um_logo" />
  </a>
</div>