/* ==========================================================================
   SIDEBAR: RIGHT & LEFT
   ========================================================================== */

.sidebar {
  @include clearfix();

  @include breakpoint($large) {
    float: inline-start;
    width: calc(#{$right-sidebar-width-narrow} - 1em);
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &.sticky {
      overflow-y: auto;
      max-height: calc(100vh - #{$nav-height} - 2em);
    }
  }

  @include breakpoint($x-large) {
    width: calc(#{$right-sidebar-width} - 1em);
  }

  > * {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
    &.emoji {
      width: 20px;
      height: 20px;
    }
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    width: $right-sidebar-width-narrow;
    margin-inline-end: -1 * $right-sidebar-width-narrow;
    padding-inline-start: 1em;
    z-index: 10;

    &.sticky {
      position: sticky;
      top: $nav-height; // align with logo/header
      float: inline-end;

      .toc__menu {
        overflow-y: auto;
        max-height: calc(100vh - 7em);
      }
    }
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
    margin-inline-end: -1 * $right-sidebar-width;
  }
}

.sidebar__left {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: $left-sidebar-width-narrow;
    margin-inline-start: -1 * $left-sidebar-width-narrow;
    padding-inline-end: 1em;
    z-index: 10;

    &.sticky {
      position: sticky;
      top: 2em;
      float: inline-start;

      .toc__menu {
        overflow-y: auto;
        max-height: calc(100vh - 7em);
      }
    }
  }

  @include breakpoint($x-large) {
    width: $left-sidebar-width;
    margin-inline-start: -1 * $left-sidebar-width;
  }
}


.splash .sidebar__right {
  @include breakpoint($large) {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    width: $right-sidebar-width-narrow;
    margin-inline-end: -1 * $right-sidebar-width-narrow;
    padding-inline-start: 1em;
    z-index: 10;

    &.sticky {
      position: sticky;
      top: $nav-height;
      float: inline-end;
    }
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
    margin-inline-end: -1 * $right-sidebar-width;
  }
}


.wide .sidebar__right,
.wide .sidebar__left {
  @include breakpoint($large) {
    position: initial;
    top: initial;
    inset-inline: initial;
    width: initial;
    margin-inline: initial;
    padding-inline: initial;
    z-index: initial;

    &.sticky {
      float: none;
    }
  }

  @include breakpoint($x-large) {
    width: initial;
    margin-inline: initial;
  }
}

/* Optional: hide follow buttons globally unless enabled */
.btn--follow,
.addthis_inline_follow_toolbox {
  display: none !important;
}